// var

$font:poppins;

// extends

%font-1 {
    font-family: $font;
    font-weight: 100;
}

%font-2 {
    font-family: $font;
    font-weight: 200;
}

%font-3 {
    font-family: $font;
    font-weight: 300;
}

%font-4 {
    font-family: $font;
    font-weight: 400;
}

%font-5 {
    font-family: $font;
    font-weight: 500;
}

%font-6 {
    font-family: $font;
    font-weight: 600;
}

%font-7 {
    font-family: $font;
    font-weight: 700;
}

%font-8 {
    font-family: $font;
    font-weight: 800;
}

%font-9 {
    font-family: $font;
    font-weight: 900;
}