// Var
$extra-small:376px;
$small:576px;
$medium:768px;
$large:992px;
$extra-large:1224px;

// Mixin
@mixin responsive ($breakpoint) {
    @if $breakpoint==xs {
        @media (min-width: $extra-small) {
            @content;
        }
    }

    @if $breakpoint==sm {
        @media (min-width: $small) {
            @content;
        }
    }

    @if $breakpoint==md {
        @media (min-width: $medium) {
            @content;
        }
    }

    @if $breakpoint==lg {
        @media (min-width: $large) {
            @content;
        }
    }

    @if $breakpoint==xl {
        @media (min-width: $extra-large) {
            @content;
        }
    }
}