.container_blog{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3em;
    @include responsive(m){
    gap: 7em;
    }
    @include responsive(hd){
    gap: 10em;
    }

    // Title
    .title{
        margin-top: 5em;
        display:flex;
        width:85%;
        @include responsive(m){
        width: 80%;
        }
        @include responsive(hd){
        width: 70%;
        margin-top: 10em;
        }
    
        &_number{
        font-size:34px;
        position: absolute;
        @include responsive(m){
        font-size: 55px;
        }
        @include responsive(hd){
        font-size: 72px;
        }
        }
    
        &_name{
        display: flex;
        flex-direction: row;
        font-size:70px;
        width:100%;
        left:-65px;
        @include responsive(m){
        font-size: 110px;
        }
        @include responsive(hd){
        font-size: 144px;
        }
        
        &:before{
        content: "";
        width:50px;
        border-bottom: 2px solid $color2;
        margin: auto 10px auto 0;
        @include responsive(m){
        width:75px;
        }
        @include responsive(hd){
        width:100px;
        }
        }
        &:after{
        content: "";
        flex: 1 1;
        border-bottom: 2px solid $color2;
        margin: auto 0 auto 10px;
        }
        }
    }


    // Blog
    .blog{
        width: 70%;
        // background-color: aqua;
        @include responsive(l){
            width: 50%;
        }

        // Timeline Container
        .timeline_blog{
            @include responsive(m) {
                .timeline-info,
                .timeline-marker,
                .timeline-content,
                .period .timeline-info {
                    display: table-cell;
                    vertical-align: top;
                }
                .timeline-marker {
                    position: relative;
                }
                .timeline-content {
                    padding-left: 20px;
                }
                .timeline-info {
                    padding-right: 20px;
                }
                .period .timeline-title {
                    position: relative;
                    left: -45px;
                }
            }
            
            @include responsive(l) {
                &,
                .blog_item,
                .timeline-info,
                .timeline-marker,
                .timeline-content {
                    display: block;
                    margin: 0;
                    padding: 0;
                }
                .blog_item {
                    padding-bottom: 40px;
                    overflow: hidden;
                }
                .timeline-marker {
                    position: absolute;
                    left: 51%;
                    // margin-left: -7.5px;
                }
                .timeline-info,
                .timeline-content {
                    width: 45%;
                    // background-color: blue;
                }
                .blog_item:nth-child(odd) .timeline-info {
                    float: left;
                    text-align: right;
                    padding-right: 30px;
                }
                .blog_item:nth-child(odd) .timeline-content {
                    float: right;
                    text-align: left;
                    padding-left: 10px;
                }    
                .blog_item:nth-child(even) .timeline-info {
                    float: right;
                    text-align: left;
                    padding-left: 10px;
                }
                .blog_item:nth-child(even) .timeline-content {
                    float: left;
                    text-align: right;
                    padding-right: 30px;
                }
                .blog_item.period .timeline-content {
                    float: none;
                    padding: 0;
                    width: 100%;
                    text-align: center;
                }
                .blog_item.period {
                    padding: 50px 0 90px;
                }
                .period .timeline-marker:after {
                    height: 30px;
                    bottom: 0;
                    top: auto;
                }
                .period .timeline-title {
                    left: auto;
                }
            }   

        // Item List Blog
        .blog_item{
            padding-left: 30px;
            position: relative;
            list-style: none;
            &:hover .timeline-marker:before{
                background: transparent;
                border: 3px solid $color2;
            }
    
                // Date Post
                .timeline-info {
                font-size: 10px;
                font-weight: 100;
                letter-spacing: 3px;
                margin: 0 0 .5em 0;
                text-transform: uppercase;
                white-space: nowrap;
                padding-top: 7px;
                }
    
    
                // Content Timeline
                .timeline-content {
                    padding-bottom: 40px;
                    p:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}

.timeline-marker {
    position: absolute;
    top: 0; bottom: 0; left: 0;
    width: 15px;
    &:before {
        background: $color2;
        border: 3px solid transparent;
        border-radius: 100%;
        content: "";
        display: block;
        height: 10px;
        position: absolute;
        top: 4px; left: 0;
        width: 10px;
        transition: background 0.3s ease-in-out,
        border 0.3s ease-in-out;
    }
    &:after {
        content: "";
        width: 3px;
        background: $color2;
        display: block;
        position: absolute;
        top: 24px; bottom: 0; left: 6px;
    }
    .blog_item:last-child &:after {
        content: none;
    }
}

.period {
    padding: 0;
    .timeline-info {
        display: none;
    }
    .timeline-marker {
        &:before {
            background: transparent;
            content: "";
            width: 15px;
            height: auto;
            border: none;
            border-radius: 0;
            top: 0;
            bottom: 30px;
            position: absolute;
            border-top: 3px solid $color2;
            border-bottom: 3px solid $color2;
        }
        &:after {
            content: "";
            height: 32px;
            top: auto;
        }
    }
    .timeline-content {
        padding: 40px 0 70px;
    }
    .timeline-title {
        margin: 0;
    }
}