.container_blog{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3em;
    color: $color2;
    @include responsive(m){
      gap: 6em;
    }

    // Blog
    .blog{
        width: 75%;
        @include responsive(s){
            width: 60%;
          }
          @include responsive(l){
            width: 50%;
          }
          @include responsive(xl){
            width: 40%;
          }

        .container_timeline {
            list-style: none;

            .period {
                border-top: 1px solid $color2;
                border-bottom: 1px solid $color2;
                padding: 2em 0;
                margin: 2em 0;
                h6{
                    font-size: 30px;
                }
            }

            .timeline-item {
                padding-left: 30px;
                position: relative;
                &:last-child {
                    padding-bottom: 0;
                }

                .timeline-title {
                    font-size: 20px;
                    font-weight: bold;
                    margin-bottom: .2em;
                }

                .timeline-marker {
                    position: absolute;
                    top: 0; bottom: 0; left: 0;
                    width: 15px; 
                    &:before {
                        background: $color2;
                        border: 3px solid transparent;
                        border-radius: 100%;
                        content: "";
                        display: block;
                        height: 11px;
                        position: absolute;
                        top: 4px; left: -2px;
                        width: 11px;
                        transition: all .5s cubic-bezier(0.11, 0.7, 0, 1);
                    }
                    &:after {
                        content: "";
                        width: 1px;
                        background: $color2;
                        display: block;
                        position: absolute;
                        top: 25px; bottom: 0; left: 6px;
                    }
                    .timeline-item:last-child &:after {
                        content: none;
                    }
                }
            
                .timeline-content {
                    padding-bottom: 40px;
                    font-size: 15px;
                    color: $color2;
                    p:last-child {
                        margin-bottom: 0;
                        font-weight: lighter;
                    }
                    .timeline-date{
                        display: block;
                        position: relative;
                        &::before{
                            top: 46.7%;
                            left: 100px;
                            position: absolute;
                            content: '';
                            height: 1px;
                            width: 10px;
                            background-color: $color2;
                        }
                    }
                    .read_more{
                        display: block;
                        margin-top: .5em;
                        a{  
                            color: $color2;
                            text-decoration:none;
                            position: relative;
                            &::before{
                                top: 80%;
                                left: 0;
                                position: absolute;
                                content: '';
                                height: 1px;
                                width: 73px;
                                background-color: $color2;
                            }
                        }
                    }
                }
            }
        }
    }

    .timeline-item:not(.period):hover .timeline-marker:before {
        background: transparent;
        border: 3px solid $color2;
    }

    .marker-outline {
        .timeline-marker {
            &:before {
                background: transparent;
                border-color: $color2;
            }
        }
        .timeline-item:hover .timeline-marker:before {
        background: $color2;
            }
        }
}