.container_contact{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 5em;
    gap: 3em;
    @include responsive(m){
      gap: 5em;
    }

    // Contact
    .contact{
        // background-color: aqua;
        width: 90%;
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 2em;

        // Social Media
        &_social{
          span svg path{
            stroke-width: 30;
          }
        }
    }

    // Footer
    .footer{
        text-align: center;
    }
}