.hero{
    font-size: 45px;
    font-weight: 100;
    text-align: center;
    color: $color3;
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    @include responsive(m){
        background-position: center;
    }
}

.bg{
    background-color: $bghome;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    z-index: -1;
}