.Hero{
    background-image: url(../../img/bg-header2.png);
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
    @include responsive(xl){
        background-image: none;
        padding-top: 8em;
    }


    // Image For Desktop
    &_desktop{
        display: flex;
        flex-direction: column;
        gap: .5em;
        text-align: center;
        width: 90%;
        justify-content: center;
        align-items: center;

        h1{ 
            font-family: 'Mr De Haviland', cursive;
            font-size: 70px;
            color: $color1;
            font-weight: lighter;
            position: relative;
            // letter-spacing: 10px;
            // &::after{
            //     top: 49%;
            //     left: 0;
            //     position: absolute;
            //     content: '';
            //     height: 2px;
            //     width: 100%;
            //     background-color: $color2;
            // }
            @include responsive(s){
                font-size: 60px;
            }
            @include responsive(l){
                font-size: 100px;
            }
            @include responsive(xl){
                font-size: 100px;
            }
            @include responsive (hd){
                font-size: 150px;
            }
        }

        @include responsive(xl){
            background-image: url(../../img/bg-header.png);
            height: 100vh;
            background-size: cover;
            background-position: center;
        }
    }
}

// ICON SCROLL ANIMATION

.icon-scroll {
	position: absolute;
	top: 85%;
	left: 50%;
    width: 1em;
	height: 3.125em;
	transform: translateX(-50%) scale(2);
    @include responsive(hd){
        top: 100%;
    }
}

.icon-arrows::after,
.icon-arrows::before {
content: '';
}
.icon-arrows span,
.icon-arrows::after,
.icon-arrows::before {
	display: block;
	width: 0.515em;
	height: 0.515em;
	border-right: 1px solid $color1;
	border-bottom: 1px solid $color1;
	margin: 0 0 0.125em 0.315em;
	transform: rotate(45deg);
    animation: mouse-scroll 1s infinite;
	animation-direction: alternate;
}

.icon-arrows::before {
	margin-top: 0.615em;
	animation-delay: .1s;
}

.icon-scroll span {
	animation-delay: .2s;
}

.icon-arrows::after {
	animation-delay: .3s;
}

@keyframes mouse-scroll {
	0%   { opacity: 0; }
	50%  { opacity: .5; }
	100% { opacity: 1; }
}