.container_me{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3em;
    color: $color2;
    @include responsive(m){
      gap: 6em;
    }

    // About
    .about{
      display: flex;
      width: 75%;
      gap: 3em;
      flex-direction: column;
      @include responsive(s){
        width: 65%;
      }
      @include responsive(l){
        width: 60%;
      }
      @include responsive(xl){
        width: 70%;
        gap: 6em;
      }
      @include responsive(hd){
        gap: 8em;
      }

      // Me
      .Ame{
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        gap: 1em;

        .me_title{
          font-size: 18px;
          text-align: right;
          @include responsive(m){
            font-size: 20px;
          }
          @include responsive(xl){
            text-align: left;
            font-size: 22px;
          }
        }

        .me{
          display: flex;
          gap: 1em;
          flex-direction: column;
          @include responsive (xl){
            flex-direction: row;
            width: 85%;
            gap: 2em;
          }
          
          // Image Profil
          .me_pict{
            width: 100%;
            @include responsive (xl){
              min-width: 50%;
            }
          }

          // Introduce
          .me_desc{
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: .5em;
            @include responsive(hd){
              gap: 1em;
            }
            span{
              font-size: 30px;
              font-weight: bold;
              @include responsive(xl){
              font-size: 50px;
              }
              @include responsive(hd){
                font-size: 70px;
                }
            }
            p{
              font-size: 15px;
              text-align: justify;
              @include responsive(m){
                font-size: 20px;
              }
              @include responsive(hd){
                font-size: 23px;
              }
              
            }
          }

        }
        
      }

      // History
      .container_history{
        display: flex;
        justify-content: flex-start;
        @include responsive(xl){
          justify-content: flex-end;
        }

        .Ahistory{
          width: 100%;
          display: flex;
          flex-direction: column;
          gap: 1em;
          @include responsive(xl){
            width: 65%;
          }

          .history_title{
            font-size: 18px;
            @include responsive(m){
              font-size: 20px;
            }
            @include responsive(xl){
              text-align: right;
              font-size: 22px;
            }
          }


          .history{
            display: flex;
            flex-direction: column;
            font-weight: 400;
            .history_list{
              display: flex;
              justify-content: space-between;
              padding: 10px 10px;
              align-items: center;
              @include responsive(xl){
                padding: 15px 15px;
              }
              
              span:first-child{
                font-size: 12px;
                @include responsive(m){
                  font-size: 15px;
                }
                @include responsive(xl){
                  font-size: 18px;
                }
              }
              span:nth-child(2){
                font-weight: bold;
                font-size: 13px;
                @include responsive(m){
                  font-size: 20px;
                }
              }
            }
            .history_list:first-child,
            .history_list:nth-child(2),
            .history_list:nth-child(3){
              border-bottom: 1px solid $color2;
            }

          }
        }
      }
    
  }
}