nav{
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: lighter;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0 auto;
    width: 100%;
    padding: 1.2em 0;
    @include responsive(s){
        padding: 1.5em 0;
        font-size: 24px;
    }
    
    @include responsive(l){
        font-size: 25px;
    }

    @include responsive(xl){
        padding: 2em 0;
    }

    @include responsive(hd){
        background-color: $color1;
    }

    // Nav Menu
    .nav_menu{
    justify-content: space-around;
    align-items: center;
    display: flex;
    padding: 0 1em;
    width: 100%;
    @include responsive(l){
        padding: 0;
    }
    
    // Nav List
    &_list{
        list-style: none;
    }
    }
}
