.portofolio{
    // background-color: turquoise;
    padding: 5em 17em 8em;
    border-bottom: 1px solid $color4;
}

.caption{
    letter-spacing: 3px;
    display: block;
    text-align: center;
    font-size: 40px;
    color: $color4;
    font-weight: 100;
    margin-top: 2em;
}

.container{
    // background-color: violet;
    gap: 2em;
    display: flex;
    justify-content: space-between;
    // margin-top: 2em;
    // margin-bottom: 6em;
    // border-bottom: 2px solid $color4;

    &_img{
        img{
            // width: 100px;
            height: 100%;
        }
    }
    
    &_info{
        border: 1px solid $color4;
        padding: 1em;
    &_caption{
        // color: yellow;
        color: $color5;
        font-size: 40px;
        font-weight: 500;
        text-align: right;
        margin-right: 2px;
    }
    &_desc{
        color: $color4;
        margin-top: 1em;
        background-color: $color6;
        padding: 1.5em;
        border-radius: 10px;
    }
    &_detail{
        display: flex;
        margin-left: auto;
        gap: 10px;
        flex-direction: row-reverse;
        margin-top: 1em;
        margin-right: 2px;
        span{
            text-align: center;
            color: $color5;
        }
    }
    &_goto{
        display: flex;
        flex-direction: row-reverse;
        margin-right: 2px;
        margin-top: .5em;
    }
    }

}