@import 'var/color';
@import 'var/med_query';

// Component
@import'style_comp/title';
@import'style_comp/navbar';
@import'style_comp/home';
@import'style_comp/work';
@import'style_comp/me';
@import'style_comp/blog';
@import'style_comp/contact';


body{
	background-color: $color1;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Sorts Mill Goudy', serif;
}

